*raw_data/
.*
!.gitignore
!.gitattributes
results/*/*
!results/*/outs/
results/*/outs/*
!results/*/outs/web_summary.html
logs/*
files/*.pptx
.Rproj.user
src/scripts/*/initial_processing.rmd
src/scripts/*/06*
websummaries*
files/*.csv
src/scripts/*.html
*.rds
src/scripts/CFKO_D14/gene_plots.R
src/scripts/CFKO_D7/gene_plots.R
src/scripts/CFKO_D9/gene_plots.R
src/scripts/WT_D14/gene_plots.R
src/scripts/WT_D2/gene_plots.R
src/scripts/WT_D5/gene_plots.R
src/scripts/WT_D7/gene_plots.R
src/scripts/WT_D9/gene_plots.R
results_introns/*/*
!results_introns/*/outs/
results_introns/*/outs/*
!results_introns/*/outs/web_summary.html
*.gtf
*.zip