*raw_data/
.*
!.gitignore
!.gitattributes
results/*/*
!results/*/outs/
results/*/outs/*
!results/*/outs/web_summary.html
logs/*
files/*.pptx
.Rproj.user
src/scripts/*/initial_processing.rmd
src/scripts/*/06*
websummaries*
files/*.csv